<div id="load">
	<!-- DESIGNER CAREER TEMPLATE -->
	<div id="designer">
		<div class="career-bkg"><h3>Designer Responsibilities Include</h3></div>

		<ul>
			<li>Producing large numbers of multi-page client documents of varying content, while maintaining established template
			layouts, often under tight deadlines. This includes working with Word or Excel documents, vector-based architectural site plans and elevations, original photos and manipulated photos, as well as client brand standards.</li>

			<li>Producing realistic photo manipulation, occasionally using 3D modeling.</li>

			<li>Editing, repurposing, and/or completing drawings created by others, to meet our clients’ expectations.</li>

			<li>Working with team members to identify visual branding opportunities and challenges based on photos and aerial
			map images. Conceptualizing and communicating creative solutions to branding challenges presented by restrictive
			site conditions.</li>

			<li>Organizing and maintaining our clients’ brand/sign standards, as well as our internal design files.</li>
		</ul>

		<div class="career-bkg"><h3>Our ideal candidate</h3></div>

		<ul>
			<li>Has a bachelor’s degree in Graphics Arts or equivalent degree/professional experience.</li>

			<li>Demonstrates proficiency in Adobe Illustrator and Photoshop, as well as in Microsoft Office programs, in a PC-based
			computer environment. Experience using CorelDraw is highly desirable. Experience using AutoCad or Google Sketch-Up
			3D is a plus.</li>

			<li>Has a portfolio of design work that demonstrates spatial ability, creative problem solving, clean and attractive designs, as well as attention to detail and quality.</li>

			<li>Works both inclusively and collaboratively, holds self and others on the team accountable, involves others to accomplish individual and team goals. Assumes responsibility for successfully completing tasks with minimal supervision. Can be counted on to consistently meet or exceed goals.</li>

			<li>Maintains flexibility in the work environment. Adapts and maintains effectiveness when experiencing minor or major
			changes in work tasks or the work environment.</li>

			<li>Communicates clearly and directly. Relates well to others, provides and seeks feedback, articulates clearly and actively listens. Maintains a professional, friendly demeanor and has a positive outlook at work.</li>

			<li>Is extremely organized, and demonstrates a keen eye for detail. Maintains clean design files. Has the desire and ability to maintain consistency and accuracy over a large number of similar projects.</li>

			<li>Demonstrates critical thinking skills and a desire to solve problems.</li>
		</ul>

		<p class="orangeblock">Email us at <a href="careers@siteenhancementservices.com">careers@siteenhancementservices.com</a></p>
		<p>All resumés will be retained and considered for future open positions</p>
	</div>

	<!-- PERMIT SPECIALIST CAREER TEMPLATE -->
	<div id="permit-specialist">
		<div class="career-bkg"><h3>Permit Specialist Responsibilities Include</h3></div>
		
		<ul>
			<li>Producing customer reports based on code research</li>
			<li>Gathering materials and submitting for any and all required permits for customer locations</li>
			<li>Resolving all issues to create the desired outcome for the client</li>
			<li>Collaborating with clients and team members to keep everyone apprised of all developments at all times</li>
			<li>Managing all correspondence and basic account maintenance requirements</li>
			<li>Invoicing, PO creation, and A/R</li>
			<li>Full-time hourly position with the opportunity to become salaried</li>
		</ul>

		<div class="career-bkg"><h3>Our ideal candidate</h3></div>

		<ul>
			<li>Has a bachelor’s degree</li>
			<li>Demonstrates competency with basic PC computer functions</li>
				<ul>
					<li>Microsoft Office including: Outlook, Word, Excel and PowerPoint</li>
					<li>Internet research: Google Maps, MSN Maps, Property Assessors, and GIS Maps</li>
					<li>Database programs and simple office management tasks</li>
				</ul>
			<li>Aptitude for reading and understanding maps and construction plans</li>
			<li>Displays an aptitude for research and analysis of local regulations</li>
				<ul>
					<li>Business communication skills</li>
					<li>Internet and database research</li>
					<li>Problem solving skills and out-of-the-box thinking</li>
				</ul>
			<li>Ability to communicate among vendors, contractors, and clients</li>
			<li>Complete site reports based on gathered information</li>
			<li>Ability to communicate with other team members and departments to create end product</li>
				<ul>
					<li>Communication with Design Team on art</li>
					<li>Communication with Technical Mentor on any issues or problems that arise</li>
					<li>Communication with Permit Specialist Team to promote efficiency and timely project completion</li>
				</ul>
		</ul>

		<p class="orangeblock">Email us at <a href="careers@siteenhancementservices.com">careers@siteenhancementservices.com</a></p>
		<p>All resumés will be retained and considered for future open positions</p>
	</div>



	<!-- PROJECT COORDINATOR CAREER TEMPLATE -->
	<div id="project-coordinator">
		<div class="career-bkg"><h3>Project Coordinator Responsibilities Include</h3></div>
		
		<ul>
			<li>Managing the in-house functions for multiple accounts/projects</li>
				<ul>
					<li>Integrating all aspects of day-to-day work including:</li>
						<ul>
							<li>Product ordering</li>
							<li>Inventory management</li>
							<li>Quality control</li>
							<li>Shipping and Receiving</li>
							<li>Project tracking</li>
						</ul>
					<li>Estimating costs and creating quotes for each job</li>
				</ul>
			<li>Reviewing production drawings for accuracy to ensure ordering and installation deadlines are met</li>
			<li>Managing all required correspondence and basic account maintenance requirements</li>
				<ul>
					<li>Invoicing</li>
					<li>Purchase Orders</li>
					<li>Invoicing and A/R</li>
				</ul>
			<li>Researching new products and industry developments</li>
			<li>Collaborating with clients and team members to keep everyone apprised of all developments in real time</li>
			<li>Coordination of installs between SES, the client, and staff on-site</li>
		</ul>

		<div class="career-bkg"><h3>Our ideal candidate</h3></div>

		<ul>
			<li>Has a bachelor’s degree</li>
			<li>Demonstrates competency with basic PC computer functions</li>
				<ul>
					<li>Microsoft Office including: Outlook, Word, Excel and PowerPoint</li>
					<li>Internet research: Google Maps, MSN Maps, Property Assessors, and GIS Maps</li>
					<li>Database programs and simple office management tasks</li>
				</ul>
			<li>Shows an ability to read, understand, interpret construction plans</li>
				<ul>
					<li>Architectural plans (elevations) including: basic symbols, scales, and views</li>
					<li>Engineering plans (site plans) including: basic symbols, standards, and scales</li>
				</ul>
			<li>Displays an aptitude for multi-tasking in a fast-paced environment</li>
				<ul>
					<li>Business phone skills</li>
					<li>Ability to track and manage multiple accounts/projects</li>
				</ul>
			<li>Faculty for communicating desired goals to contractors and ordering services and materials</li>
				<ul>
					<li>Coordinate projects between vendors and on-site staff</li>
					<li>Aptitude for problem solving and improving or developing new processes</li>
					<li>Capability to work well with a team and perform independently</li>
				</ul>
			<li>Ability to communicate with other team members and departments to create end product</li>
				<ul>
					<li>Communication with Design Team on art, tailoring each to the requirements of the client</li>
					<li>Communication with Technical Mentor on any issues or problems that arise</li>
				</ul>
			<li>Willingness to fully engage with projects and timelines that are set</li>
				<ul>
					<li>Full time salary position</li>
				</ul>
		</ul>

		<p class="orangeblock">Email us at <a href="careers@siteenhancementservices.com">careers@siteenhancementservices.com</a></p>
		<p>All resumés will be retained and considered for future open positions</p>
	</div>



	<!-- ZONING SPECIALIST CAREER TEMPLATE -->
	<div id="zoning-specialist">
		<div class="career-bkg"><h3>Zoning Specialist Responsibilities Include</h3></div>
		
		<ul>
			<li>Producing customer reports based on code research</li>
			<li>Gathering materials and submitting for any and all required municipal approvals</li>
			<li>Resolving all issues to create the desired branding for the client</li>
			<li>Collaborating with clients and team members to keep everyone apprised of all developments at all times</li>
			<li>Managing all correspondence and basic account maintenance requirements</li>
			<li>Invoicing, PO creation, and A/R</li>
			<li>Presenting to clients and various municipal boards to obtain approvals.</li>
			<li>Salaried career position</li>
			<li>Travel which may include overnight site visits and municipal meetings.</li>
		</ul>

		<div class="career-bkg"><h3>Our ideal candidate</h3></div>

		<ul>
			<li>Has a bachelor’s degree</li>
			<li>Demonstrates competency with basic PC computer functions</li>
				<ul>
					<li>Microsoft Office including: Outlook, Word, Excel and PowerPoint</li>
					<li>Internet research: Google Maps, MSN Maps, Property Assessors, and GIS Maps</li>
					<li>Database programs and simple office management tasks</li>
				</ul>
			<li>Aptitude for reading and understanding maps and construction plans</li>
			<li>Displays an aptitude for research and analysis of local regulations</li>
				<ul>
					<li>Business communication skills</li>
					<li>Internet and database research</li>
					<li>Problem solving skills and out-of-the-box thinking</li>
				</ul>
			<li>Ability to communicate among vendors, contractors, and clients</li>
			<li>Complete site reports based on gathered information</li>
			<li>Ability to communicate with other team members and departments to create end product</li>
				<ul>
					<li>Communication with Design Team on art</li>
					<li>Communication with Technical Mentor on any issues or problems that arise</li>
					<li>Communication with Zoning Specialist Team to promote efficiency and timely project completion</li>
				</ul>
		</ul>

		<p class="orangeblock">Email us at <a href="careers@siteenhancementservices.com">careers@siteenhancementservices.com</a></p>
		<p>All resumés will be retained and considered for future open positions</p>
	</div>



	<!-- SENIOR DESIGNER CAREER TEMPLATE -->
	<div id="senior-designer">
		<div class="career-bkg"><h3>Senior Designer Responsibilities Include</h3></div>

		<ul>
			<li>Displayed proficiency in all responsibilities and qualifications listed in the Designer position.</li>
			<li>Brainstorming artwork strategies and collaborative production work with members of all company teams.</li>
			<li>Analyzing client needs and creation of original signage concepts and logo ideas.</li>
			<li>Identification of visual branding opportunities and challenges based on site components and code restrictions. Conceptualizing and communicating original creative solutions to branding challenges.</li>
			<li>Developing a professional relationship with clients through effective communication and excellent design work. Striving to exceed deadlines and expectations whether set by clients or team members.</li>
		</ul>

		<div class="career-bkg"><h3>Our ideal candidate</h3></div>

		<ul>
			<li>Displays the ability to organize complex concepts and develop clear, concise artwork, in all aspects of SES design artwork offerings (brandbooks, lease exhibits, flag tests, submittals, presentations, etc.), with little direction from supervisor.</li>
			<li>Understands signage in the actual “built” environment. Understands signage visibility concepts, including but not limited to flag tests, sight lines and driver approach studies. Demonstrates superior knowledge of architectural elevation and engineered site plan scaling as well as photo overlay work.</li>
			<li>Understands the fundamentals of the code check procedure and how code check information affects client artwork. Can read and interpret a code check with no help from supervisor. Actively considers code information during design work and communicates with others how code might affect the given signage situation.</li>
			<li>Consistently strives to not only to meet, but exceed, goals. Desires to facilitate workflow to the highest level of client satisfaction. Manages time effectively and efficiently.</li>
			<li>Shows strong leadership skills. Demonstrates a desire to help teammates succeed. Desires to positively influence other designers and shows interest in working with new designers to facilitate their learning processes.</li>
			<li>Desires accountability. Interacts with team members and clients in a proactive manner. Displays exceptional listening skills as well as excellent communication skills with clients and team members.</li>
			<li>Demonstrates a strong desire to solve problems, with a history of sound decisions and good judgment. Demonstrates a capability to interpret and solve complex problems and resolve issues in a professional manner.</li>
		</ul>

		<p class="orangeblock">Email us at <a href="careers@siteenhancementservices.com">careers@siteenhancementservices.com</a></p>
		<p>All resumés will be retained and considered for future open positions</p>
	</div>


	<!-- SENIOR PERMIT SPECIALIST CAREER TEMPLATE -->
	<div id="senior-permit-specialist">
		<div class="career-bkg"><h3>Senior Permit Specialist Responsibilities Include</h3></div>
		
		<ul>
			<li>Displayed proficiency in all responsibilities and qualifications listed in the Permit Specialist position</li>
			<li>Demonstrates a thorough understanding of the following tasks: Code Checks, Site Analysis Reports, Sign Recommendations, Permitting, Post Site Analysis</li>
			<li>Ability to perform the following administrative functions: Account management, Client relationships, Spreadsheet/Sharepoint maintenance, Invoicing, Projections, Balance staffing, and Training of new hires</li>
		</ul>

		<div class="career-bkg"><h3>Our ideal candidate</h3></div>

		<ul>
			<li>Exhibits highly developed organizational skills, which include the ability to think analytically and schedule themselves and their direct reports to accomplish all assigned tasks in a complete and timely manner</li>
			<li>Displays an aptitude for negotiation and outside of the box thinking to benefit both the client and SES</li>
			<li>Shows a faculty for problem solving and the capacity to make sound decisions quickly, specific branding knowledge for all assigned accounts, strong reasoning skills to make the best decision with the information available or how to acquire better information</li>
			<li>Demonstrates an expert understanding of the following abilities: strong customer service skills, math skills, ability to organize complex concepts in concise written form, good spatial ability, basic knowledge of standard business software, understanding of sign types and applications, basic understanding of land use and zoning concepts</li>
			<li>Strong communication skills are desired, including the ability to convey complex issues to a varied audience, superior telephone skills, and an ability to defend one’s position tactfully</li>
		</ul>

		<p class="orangeblock">Email us at <a href="careers@siteenhancementservices.com">careers@siteenhancementservices.com</a></p>
		<p>All resumés will be retained and considered for future open positions</p>
	</div>



	<!-- SENIOR ZONING SPECIALIST CAREER TEMPLATE -->
	<div id="senior-zoning-specialist">
		<div class="career-bkg"><h3>Senior Zoning Specialist Responsibilities Include</h3></div>
		
		<ul>
			<li>Displays proficiency in all responsibilities and qualifications listed in the Zoning Specialist position</li>
			<li>Demonstrates a thorough understanding of the following tasks: Code Checks, Site Analysis Reports, Sign Recommendations, Permitting, Variances, and Negotiations with Municipal Staff, Municipal boards, Councils, and Committees.</li>
			<li>Ability to perform the following administrative functions: Account management, Client relationships, Spreadsheet/Portal maintenance, Invoicing, Projections, and Training of new hires</li>
			<li>Travel overnight and needs to be flexible with last minute travel.</li>
			<li>Able to delegate workflow for mentor zoning specialists.</li>
		</ul>

		<div class="career-bkg"><h3>Our ideal candidate</h3></div>

		<ul>
			<li>Exhibits highly developed organizational skills, which include the ability to think analytically and schedule themselves and their direct reports to accomplish all assigned tasks in a complete and timely manner</li>
			<li>Displays an aptitude for negotiation and outside of the box thinking to benefit both the client and SES</li>
			<li>Shows a faculty for problem solving and the capacity to make sound decisions quickly, specific branding knowledge for all assigned accounts, strong reasoning skills to make the best decision with the information available or how to acquire better information</li>
			<li>Demonstrates an expert understanding of the following abilities: strong customer service skills, math skills, ability to organize complex concepts in concise written form, good spatial ability, basic knowledge of standard business software, understanding of sign types and applications, understanding of land use and zoning concepts</li>
			<li>Strong communication skills are required, including the ability to convey complex issues to a varied audience, superior telephone skills, and an ability to defend one’s position tactfully</li>
		</ul>

		<p class="orangeblock">Email us at <a href="careers@siteenhancementservices.com">careers@siteenhancementservices.com</a></p>
		<p>All resumés will be retained and considered for future open positions</p>
	</div>



	<!-- SYSTEM ADMINISTRATOR CAREER TEMPLATE -->
	<div id="system-admin">
		<div class="career-bkg"><h3>System Administrator Responsibilities Include</h3></div>
		
		<ul>
			<li>Monitors &amp; maintains system performance, backups, compliance, and updates</li>
			<li>Recommend key technical and purchasing specifications for core infrastructure, based upon collected analysis of the business needs.</li>
			<li>Provides answers to associates by identifying problems; researching answers; guiding staff through corrective steps.</li>
		</ul>

		<div class="career-bkg"><h3>Our ideal candidate</h3></div>

		<ul>
			<li>Strongly Preferred:</li>
				<ul>
					<li>BS degree in Computer Science, Information Technology or similar.</li>
					<li>Experience with Microsoft Server Technologies: AD, GPO, DNS, DHCP, MDT, DFSR</li>
					<li>Corporate firewall appliance and L3 Routing</li>
				</ul>
		</ul>

		<p class="orangeblock">Email us at <a href="careers@siteenhancementservices.com">careers@siteenhancementservices.com</a></p>
		<p>All resumés will be retained and considered for future open positions</p>
	</div>



	<!-- GENERAL CAREER TEMPLATE -->
	<div id="general">
		<div class="career-bkg"><h3>All Positions</h3></div>
		
		<p>Don’t see the right job or wondering where you would fit in at SES?</p>

		<p>Site Enhancement Services is a fast-paced, growing organization that occasionally seeks to fill positions not listed on our website. If you are unsure what position would best suit you skillset or are looking to apply for a position not shown, please use the "Apply Online" link above to submit your application and résumé for consideration across the board.</p>

		<p class="orangeblock">Email us at <a href="careers@siteenhancementservices.com">careers@siteenhancementservices.com</a></p>
		<p>All resumés will be retained and considered for future open positions</p>
	</div>



	<!-- INTERNSHIPS CAREER TEMPLATE -->
	<div id="internships">
		<div class="career-bkg"><h3>Design Intern</h3></div>
		
		<p>SES is always on the lookout for design interns. This is a paid internship with flexible hours to work around your school schedule. Selected candidates will gain experience in a wide range of design related projects including: photo overlays, sign renderings, scaling, and working with architectural drawings.</p>
	
		<div class="career-bkg"><h3>Marketing Intern</h3></div>
		
		<p>SES is always accepting applicants for our marketing internship. Applicants can expect to work in a fast-paced, professional environment. SES will provide hands on training in research and code work, as well as basic office functions. This is a paid internship with flexible hours to work around your school schedule.</p>

		<p class="orangeblock">Email us at <a href="careers@siteenhancementservices.com">careers@siteenhancementservices.com</a></p>
		<p>All resumés will be retained and considered for future open positions</p>
	</div>
</div>